<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/login/css/profile.css">
  {% comment %} <link rel="stylesheet" href="/static/main/css/Pmain.css"> {% endcomment %}
  <title>Личный кабинет</title>
</head>
<body>
  <header> 
    <button class="tuch"><a id="about" href='/about'>о нас</a></button>
    <button class="tuch"><a id="about" href='/frame'>оправы</a></button>
    <button class="tuch"><a id="about" href='/lensess'>линзы</a></button>
    <button class="tuch"><a id="about" href='/sale'>акции</a></button>
    <button class="tuch"><a id="about" href='/portfolio'>наши работы</a></button>
    <button class="tuch"><a id="about" href='/review'>отзывы</a></button>
    <button class="tuch"><a id="about" href='/organizations'>организациям</a></button>
  </header>

  <main>
    <h3>Имя пользователя:  {{user.username}}</h3>
      {% if user.Profile.foto  %}
      <img src="{{user.Profile.foto}}" alt="фото пользователя">
      {% else %}
      <img class="anonim" src="/static/login/img/anonim.jpg" alt="аватарка">
      {% endif %}
    
    <h3>имя: {{user.Profile.firstname}}</h3>
    <h3>фамилия: {{user.Profile.laststname}}</h3>
    <h3>дата рождения: {{user.Profile.date}}</h3>
    
    <button class="exit"><a href="/">Вернуться на главную страницу</a></button>
  </main>
</body>
</html>